.Link { 
  > button {
    background: none;
    color: #3a71cd;
    margin-top: 10px;
    font-weight: nornal;
    font-size: 18px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
