.Round {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  font-size: 22px;
  margin-right: 16px;
  line-height: 140%;
  width: 100%;
  margin: 28px;
  color: rgba(0, 0, 0, 0.87);
  .Round_header {
    display: flex;
    flex-direction: row;
    width:100%;
    align-items: center;
    >h2 {
      font-size: 22px;
    }
    // Placeholder styles
    ::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.2);
      font-weight: normal;
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    ::-moz-placeholder {
      color: rgba(0, 0, 0, 0.2);
      font-weight: normal;
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    :-moz-placeholder {
      color: rgba(0, 0, 0, 0.2);
      font-weight: normal;
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    :-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.2);
      font-weight: normal;
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    :focus::-webkit-input-placeholder {
      color: transparent;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    :focus::-moz-placeholder {
      color: transparent;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    :focus:-moz-placeholder {
      color: transparent;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    :focus:-ms-input-placeholder {
      color: transparent;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    > input {
      height: 35px;
      font-size: 18px;
      padding: 6px 10px;
      margin-left: 16px;
      border: 1px solid #ececec;
      box-sizing: border-box;
      border-radius: 4px;
      max-width: 390px;
    }
  }
}
