.Navbar {
  display: flex;
  font-size: 24px;
  text-align: right;
  height: 80px;
  align-items: center;
  margin: 0px 0 10px 0;
  justify-content: flex-end;
  .container {
    > ul {
      > li {
        display: inline;
        margin-left: 80px;
        > a {
          color: rgba(0, 0, 0, 0.67);
          transition: color 0.3s ease;          
        }
      }
    }
  }
}

.link:hover {
  color: #3A71CD !important;
}
