.Final {
  display: flex;
  flex-direction: column;
}

.Final_header {
  width: 298px;
  margin-top: 20px;
}

.Final_body {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 874px;
  margin-top: 40px;
  .Final_body_header {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    ::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.342);
      font-weight: normal;
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    ::-moz-placeholder {
      color: rgba(0, 0, 0, 0.2);
      font-weight: normal;
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    :-moz-placeholder {
      color: rgba(0, 0, 0, 0.2);
      font-weight: normal;
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    :-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.2);
      font-weight: normal;
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    :focus::-webkit-input-placeholder {
      color: transparent;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    :focus::-moz-placeholder {
      color: transparent;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    :focus:-moz-placeholder {
      color: transparent;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    :focus:-ms-input-placeholder {
      color: transparent;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    > input {
      height: 35px;
      font-size: 18px;
      padding: 6px 10px;
      margin-left: 16px;
      border: 1px solid #ececec;
      box-sizing: border-box;
      border-radius: 4px;
      min-width: 290px;
    }
  }
  .Final_body_form {
    display: flex;
    justify-content: space-between;
    > textarea {
      font-size: 18px;
      padding: 6px 10px;
      border: 1px solid #ececec;
      box-sizing: border-box;
      border-radius: 4px;
      width: 428px;
      resize: none;
    }
    // Placeholder styles
    ::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.342);
      font-weight: normal;
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    ::-moz-placeholder {
      color: rgba(0, 0, 0, 0.2);
      font-weight: normal;
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    :-moz-placeholder {
      color: rgba(0, 0, 0, 0.2);
      font-weight: normal;
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    :-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.2);
      font-weight: normal;
      opacity: 1;
      transition: opacity 0.3s ease;
    }
    :focus::-webkit-input-placeholder {
      color: transparent;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    :focus::-moz-placeholder {
      color: transparent;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    :focus:-moz-placeholder {
      color: transparent;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    :focus:-ms-input-placeholder {
      color: transparent;
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }
}
