.Input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  color: rgba(0, 0, 0, 0.67);
  width: 100%;
  > span {
    font-size: 22px;
    margin-right: 16px;
    line-height: 140%;
    width: 120px;
  }
  .Input_rightSide {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    // Placeholder styles
    ::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.20);
      font-weight: normal;
      opacity: 1; transition: opacity 0.3s ease;
    }
    ::-moz-placeholder {
      color: rgba(0, 0, 0, 0.20);
      font-weight: normal;
      opacity: 1; transition: opacity 0.3s ease;
    } 
    :-moz-placeholder {
      color: rgba(0, 0, 0, 0.20);
      font-weight: normal;
      opacity: 1; transition: opacity 0.3s ease;
    } 
    :-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.20);
      font-weight: normal;
      opacity: 1; transition: opacity 0.3s ease;
    }
    :focus::-webkit-input-placeholder {color: transparent; opacity: 0; transition: opacity 0.3s ease;}
    :focus::-moz-placeholder          {color: transparent; opacity: 0; transition: opacity 0.3s ease;}
    :focus:-moz-placeholder           {color: transparent; opacity: 0; transition: opacity 0.3s ease;}
    :focus:-ms-input-placeholder      {color: transparent; opacity: 0; transition: opacity 0.3s ease;}

    > input {
      height: 35px;
      font-size: 18px;
      padding: 6px 10px;
      margin-left: 16px;
      border: 1px solid #ececec;
      box-sizing: border-box;
      border-radius: 4px;
      min-width: 290px;
    }
  }
}
