.Input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  color: rgba(0, 0, 0, 0.67);
  width: 100%;
  > span {
    font-size: 22px;
    margin-right: 16px;
    line-height: 140%;
    width: 120px;
  }
  .Input_rightSide {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    > input {
      font-size: 22px;
      padding: 6px 10px;
      margin-left: 16px;
      border: 1px solid #ececec;
      box-sizing: border-box;
      border-radius: 4px;
      max-width: 390px;
    }
  }
}
