.Theme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 36px 0 50px 0;
  width: 874px;
  > input {
    height: 35px;
    font-size: 18px;
    padding: 6px 10px;
    border: 1px solid #ececec;
    box-sizing: border-box;
    border-radius: 4px;
    max-width: 390px;
  }
  ::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.2);
    font-weight: normal;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  ::-moz-placeholder {
    color: rgba(0, 0, 0, 0.2);
    font-weight: normal;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  :-moz-placeholder {
    color: rgba(0, 0, 0, 0.2);
    font-weight: normal;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  :-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.2);
    font-weight: normal;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  :focus::-webkit-input-placeholder {
    color: transparent;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  :focus::-moz-placeholder {
    color: transparent;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  :focus:-moz-placeholder {
    color: transparent;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  :focus:-ms-input-placeholder {
    color: transparent;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}
