.PlayingField_prepairing {
  margin: 50px 78px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  .PlayingField_prepairing_header {
    display: flex;
    flex-direction: row;
    .PlayingField_prepairing_header_leftSide {
      > img {
        width: 112px;
        height: 112px;
        border-radius: 100%;
        object-fit: cover;
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.13));
      }
    }
    .PlayingField_prepairing_header_rigthSide {
      display: flex;
      flex-direction: column;
      margin-left: 34px;
      .PlayingField_prepairing_header_rigthSide_packName {
        font-size: 64px;
        line-height: 77px;
        color: #405474;
      }
      .PlayingField_prepairing_header_rigthSide_info {
        display: flex;
        .PlayingField_prepairing_header_rigthSide_info_autor {
          font-size: 24px;
          color: rgba(64, 84, 116, 0.5);
          width: 600px;
          margin-top: 5px;
        }
        .PlayingField_prepairing_header_rigthSide_info_discription {
          font-size: 16px;
          color: rgba(64, 84, 116, 0.5);
          line-height: 140%;
          margin-top: 5px;
        }
      }
    }
  }
  .PlayingField_prepairing_body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 200px;
    .PlayingField_prepairing_body_leftSide {
      display: flex;
      flex-direction: column;
      height: 200px;
      .PlayingField_prepairing_body_leftSide_info {
        font-size: 24px;
        line-height: 200%;
        color: rgba(64, 84, 116, 0.5);
        width: 250px;
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        > strong {
          font-weight: normal;
          color: #405474;
        }
      }
    }
    .PlayingField_prepairing_body_rigthSide {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      min-width: 430px;
      text-align: right;
      .PlayingField_prepairing_body_rigthSide_container {
        width: 100%;
        .PlayingField_prepairing_body_rigthSide_container_alert {
          font-size: 18px;
          line-height: 22px;
          text-align: center;
          color: #405474;
          margin-bottom: 10px;
        }
        > span {
          font-size: 24px;
          line-height: 29px;
          color: rgba(64, 84, 116, 0.3);
        }
        .PlayingField_prepairing_body_rigthSide_container_button {
          color: #ffff;
          font-size: 22px;
          font-weight: bold;
          width: 100%;
          height: 56px;
          background: #3a71cd;
          border-radius: 6px;
          transition: background 0.3s ease;
          margin-top: 10px;
          &:hover {
            background: #3268c5;
            box-shadow: 0px 0px 10px rgba(58, 113, 205, 0.1);
          }
          &:disabled {
            background: #ffffff;
            font-weight: normal;
            border: 1px solid #ececec;
            color: rgba(189, 189, 189, 0.87);
          }
        }
      }
    }
  }
}

.Showing_round {
  height: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 42px;
  line-height: 140%;
  color: #405474;
}
.Showing_themes {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.Showing_themes_animatedDiv {
  height: 100%;
  display: flex;
  color: #405474;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-size: 24px;
  animation-duration: 8s;
  animation-name: test;
}

@keyframes test {
  from {
    opacity: 0%;
    margin-top: 1000px;
  }
  to {
    opacity: 0%;
    margin-top: -1000px;
  }
  50% {
    opacity: 100%;
  }
}
